// Importing variables
@import './variables.scss';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';

.everything {
	//font-family: "Palanquin Dark";
}

div::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 50%;
  height: 50%;
  //background-image: url('../images/bulma-logo.png');
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.gradientBg {
	display: flex;
	background: linear-gradient(to right, $primary-color, $secondary-color);
}

.leaflet-container {
  height: 1000px;
  width: 40%;
}


.gallery-class {
	border-radius: 15%;
	border: 1px black;
	margin: 10px;
}

.centerClass {
	display: flex;
	justify-content: center;
	align-items: center;
	p {
		margin-top: 1em;
	}
}

.navbar-menu {
	a {
		color: black;
	}
	a:hover {
		color: $secondary-color;
		text-decoration: underline;
	}
}

.footer {
	display: flex;
	padding: 1.5rem 1.5rem;
	line-height: 1.5rem;
	a {
		color: black;
	}
	a:hover {
		color: $secondary-color;
		text-decoration: underline;
	}
}
