// Importing variables
@import './variables.scss';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';



.everything {
	//font-family: "Palanquin Dark";
}

.gradientBg {
	display: flex;
	background: linear-gradient(to right, $primary-color, $secondary-color);
}

.leaflet-container {
  height: 1000px;
  width: 40%;
}
	

.gallery-class {
	border-radius: 15%;
	border: 1px black;
	margin: 10px;
}

.centerClass {
	display: flex;
	justify-content: center;
	align-items: center;
	p {
		margin-top: 1em;
	}
}

.navbar-menu {
	a {
		color: black;
	}
	a:hover {
		color: $secondary-color;
		text-decoration: underline;
	}
}

.footer {
	display: flex;
	padding: 1.5rem 1.5rem;
	line-height: 1.5rem;
	a {
		color: black;
	}
	a:hover {
		color: $secondary-color;
		text-decoration: underline;
	}
}
